body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
span{
    color:#ffa500;
}
section{
    display: flex;
    height: 500px;
    padding-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width:80%;
}
.button{
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700px;
    text-decoration: none;
    border-radius: 5px;
}
.bg{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}.bg2{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}